/arduino/tools
/arduino/libraries
/arduino/Spelliterally/data/cards/7A0FC319.txt
/arduino/Spelliterally/data/cards/7BB7093B.txt
/arduino/Spelliterally/data/cards/8AB6981A.txt
/arduino/Spelliterally/data/cards/37BED052.txt
/arduino/Spelliterally/data/cards/64AB093B.txt
/arduino/Spelliterally/data/cards/178A4E34.txt
/arduino/Spelliterally/data/cards/1985FD8E.txt
/arduino/Spelliterally/data/cards/17674A33.txt
/arduino/Spelliterally/data/cards/5327122B.txt
/arduino/Spelliterally/data/cards/99296759.txt
/arduino/Spelliterally/data/cards/A72A3F33.txt
/arduino/Spelliterally/data/cards/A90E485A.txt
/arduino/Spelliterally/data/cards/ACDC083B.txt
/arduino/Spelliterally/data/cards/BA46A01A.txt
